
    <!-- pass rails user data into javascript -->
    <script id="rails_user_data" type="text/json" >
        <%= current_user.to_json %>
    </script>
 
 <!--   
    <div id="list" class="row-fluid"></div>
    
    <div id="listHolder"></div>
</div>
-->
<!--
<%= debug(User.find_by_remember_token(cookies[:remember_token])) if Rails.env.development? %>
-->