// Place all the styles related to the Beers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
body { 
  margin:0; 
  padding:0; 
  height:100%;
  background-color: #ffeedd; 
}

#main-list {
  width : 80%;
  align : center;
  background-color : #000022;
  margin-left : auto;
  margin-right : auto;
  border : 2px solid;
  border-color: #666666;
  border-radius : 0px;
}

#list {
    overflow : auto;
    height : 500px;
}

.item { 
  color : #ff0000;
  font-size : 150%;
  padding : 20px;
  border : 1px solid #000055;
  background-color : #dddddd;
  height : 100px;
  border-radius : 0px;
  
  .beer-text {
    color : #000;
    position : relative;
    padding-left : 120px;
    
    
  }
  
  .beer-description {
    font-size : 80%;
    font-style : italic;
    paddint-top: 5px;
  }

}

.beer-label {
  border : 1px solid;
  border-color : #000;
  float: left;
}


.title {
  font-size : 225%;
  color : #dedede;
  padding : 20px;
}

.user-info {
  width : 100%;
  font-size : 100%;
  color : #fff;
  padding : 2px;
  text-align : right;
}

.modal {
  height : 500px;
  width : 900px;
}

*/
